<div class="nav-collapse">
    @if (Request.IsAuthenticated)
    {
        <p class="navbar-text pull-right">
            Hello, @Html.ActionLink(User.Identity.Name, "Users", routeValues: null, htmlAttributes: new { @class = "username" })!
            @Html.ActionLink("Log off", "LogOff", "Account")
        </p>
    }
    else
    {
        <ul class="nav pull-right">
            <li>@Html.ActionLink("Register", "Register", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
</div>

